.title {
	@include ApplyFont(
		$font-family: Montserrat-Bold,
		$font-size: 48px,
		$line-height: 75px,
		$letter-spacing: -1.65px
	);
	margin: 0;

	&--decor {
		position: relative;

		&::after {
			content: '';
			position: absolute;
			bottom: -14px;
			left: 0;
			height: 4px;
			width: 60px;
			background-color: $second-color;
		}

	}
}
