.title {
	@include ApplyFont(
		$font-family: Montserrat-Bold,
		$font-size: 60px,
		$line-height: 75px,
		$letter-spacing: -1.65px
	);
}

@import '--decor/--decor.scss';
@import '--small/--small.scss';
