.header__content-description {
	@include ApplyFont(
		$font-family: Montserrat-Bold,
		$font-size: 16px,
		$line-height: 19.5px,
		$letter-spacing: 2.74px,
		$color: $second-color
	);
	text-transform: uppercase;
	margin: 0;
	margin-top: 18.5px;
	user-select: none;
}
