.pricing__item-rate {
	@include ApplyFont(
		$font-family: OpenSans-Regular,
		$font-size: 80px,
		$line-height: 109px,
		$color: $title-color
	);
	margin-top: 54px;
	margin-bottom: 50px;
	text-align: center;

	&::before {
		content: '$';
		position: relative;
		top: -30px;
		font-size: 40px;
		line-height: 55px;
	}

	span {
		font-size: 20px;
		line-height: 27.2px;
	}
}
