// =================== CONSTANTS ======================

$main-color: #373A39;
$main-light-color: #777777;
$title-color: #242121;
$decor-color: #FCBB08;

$bgc-about: #F6F8FA;

$expertise-color: #1D1D1D;
$expertise-color-empty: #F0F0F0;
$expertise-item-title-color: #333333;

$features-bg-color: #F6F8FA;

$portfolio-nav-button-color: #333333;
$portfolio-show-all-bg-color: #F6F8FA;
$portfolio-show-all-color: #242121;

// =================== GLOBAL SETTINGS =====================
* {
	box-sizing: border-box;
}

h1, h2 {
	margin: 0;
}

p {
	margin: 0 0 20px;

	&:last-child {
		margin: 0;
	}
}
