.contacts__form-input {
	border: none;
	border-bottom: 3px solid $contacts-form-color;
	outline: none;
	margin-bottom: 32px;
	height: 38px;

	&::placeholder {
		@include ApplyFont(
			$font-family: OpenSans-Regular,
			$font-size: 12px,
			$line-height: 20px,
			$letter-spacing: 3.7px,
			$color: $contacts-form-text-color
		);
	}
}

