.menu__link {
	@include ApplyFont(
		$font-family: Raleway-Bold,
		$font-size: 12px,
		$line-height: 14px
	);

	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 0.6px;
	position: relative;
	padding: 0 6px;

	&:hover::after, &--active::after {
		content: '';
		position: absolute;
		bottom: -9px;
		left: 0;
		height: 1px;
		width: 100%;
		background-color: $second-color;
	}
}
