.portfolio__nav-button {
	@include ApplyFont(
		$font-family: OpenSans-Regular,
		$font-size: 12px,
		$line-height: 24px,
		$letter-spacing: 2px,
		$color: $portfolio-nav-button-color
	);

	font-weight: 600;
	text-transform: uppercase;
	border: none;
	outline: none;
	cursor: pointer;
	background-color: transparent;
	padding: 0 8px;
	margin-right: 40px;
	position: relative;

	&:last-child {
		margin-right: 0;
	}

	&:hover::after,
	&--active::after {
		content: '';
		position: absolute;
		bottom: -9px;
		left: 0;
		height: 1px;
		width: 100%;
		background-color: $decor-color;
	}
}
