@import 'variables';

@mixin FontDef-ttf($FontPath, $FontName) {
	font-family: $FontName;
	src: url('#{$FontPath}/#{$FontName}.ttf')
}

// @mixin fontdef-woff($FontPath, $FontName, $FontType:"Regular") {
// 	src:	url('#{$FontPath}/#{$FontType}/#{$FontName}-#{$FontType}.woff2') format('woff2'),
// 	url('#{$FontPath}/#{$FontType}/#{$FontName}-#{$FontType}.woff') format('woff');
// }

@mixin ApplyFont (
	$font-family: Arial,
	$font-size: 14px,
	$line-height: 24px,
	$letter-spacing: normal,
	$color: $main-color
) {
	font-family: $font-family;
	font-size: $font-size;
	line-height: $line-height;
	letter-spacing: $letter-spacing;
	color: $color;
}

