.features__inner {
	padding: 100px 135px 180px 835px;
	background-color: $features-bg-color;
	background-image: url('../images/features/features.jpg');
	background-repeat: no-repeat;

	min-height: 840px;
}
